<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="yuku.ambilwarna.demo">

	<application android:icon="@mipmap/ic_launcher" android:label="AmbilWarna Demo">
		<activity android:name=".AmbilWarnaDemoActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".AmbilWarnaDemoPreferenceActivity" />
	</application>

	<supports-screens android:anyDensity="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:resizeable="true"/>
</manifest> 